{% block extends catalogBase.html %}

      <div class="delete-page-info">
        <div class="page-header">
          <h2>Delete Category</h2>
        </div>

        <div class="delete-item">
          <p>Are you sure you want to delete {{ category.name }}?</p>
          <p>All items associated with this category will be deleted as well.</p>
        </div>

        <form action="{{ url_for('deleteCategory', category_name=category_name) }}" method='post'>

          <div class="form-buttons delete">
            <input type='submit' value='Delete'>

            <!-- Cancel link goes here  -->
            <a class="cancel" href="{{ url_for('showCategory', category_name=category_name)}}">Cancel</a>
          </div>
        </form>
      </div>
{% endblock %}
