<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="author" content="Christopher Giglio">
    <meta name="description" content="Personal Portfolio Website">
    <title>Christopher Giglio</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <script src="https://use.fontawesome.com/e5e0497d6e.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Fira+Sans:100" rel="stylesheet">
  </head>

  <body>
    <div class="page">
      <header>
        <div class="header-container">
          <div class="menu">
            <img class="logo" src="/static/images/CG Logo.png" alt="page logo">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars fa-3x"></i>
            </a>
            <div class="nav-bar" id="topNav">
              <ul>
                <li><a href='#'>About</a></li>
                <li><a href='/static/resources/CGResume.pdf' target="_blank">Resume</a></li>
                <li><a href='#'>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="info">
            <div class="name">
              <h1>
                Christopher Giglio
              </h1>
            </div>
            <div class="title">
              <h2>
                Web Developer
              </h2>
            </div>
          </div>
        </div>
      </header>

      <main>
        <div class="img-container">
          <div class="main-image">
            <img class="code-img" src="/static/images/code.jpg" alt="code on screen">
          </div>
        </div>

        <div class="about-me">
          <p>
            This is where the about me section will go, in which I will mention some things about myself for people to read and understand some things about me that might be worth knowing. Maybe a picture will go above this.
          </p>
        </div>

        <div class='project-section'>
          <h2>Featured Work</h2>
          <div class='project-list'>

            <div class='project-item catalog'>
              <div class='project-logo'>
                <a class="proj-image-link" href="https://github.com/chrisgig23/item-catalog/" target="_blank">
                  <img class="proj-image" src="/static/images/sports-logo.JPG" alt="Sporting Goods Logo">
                </a>
              </div>
              <div class='project-info'>
                <h3>Sporting Goods Catalog App</h3>
                <div class='project-links'>
                  <a href="https://github.com/chrisgig23/item-catalog/" target="_blank">View Code</a>
                </div>
                <div class='project-descrip'>
                  <p>
                    The project's description will go here and will describe the different aspects of the project for somebody to read and understand what the project does thanks to the description.
                  </p>
                </div>
              </div>
            </div>

            <div class='project-item catalog'>
              <div class='project-logo'>
                <a class="proj-image-link" href="https://github.com/chrisgig23/neighborhood-map-project/" target="_blank">
                  <img class="proj-image" src="/static/images/food-location.png" alt="Neighborhood maps icon">
                </a>
              </div>
              <div class='project-info'>
                <h3>Neighborhood Restaurants App</h3>
                <div class='project-links'>
                  <a href="https://github.com/chrisgig23/neighborhood-map-project/" target="_blank">View Code</a>
                </div>
                <div class='project-descrip'>
                  <p>
                    The project's description will go here and will describe the different aspects of the project for somebody to read and understand what the project does thanks to the description.
                  </p>
                </div>
              </div>
            </div>

            <div class='project-item catalog'>
              <div class='project-logo'>
                <a class="proj-image-link" href="https://github.com/chrisgig23/TicTacToe" target="_blank">
                  <img class="proj-image" src="/static/images/tic-tac-toe.png" alt="tic tac toe">
                </a>
              </div>
              <div class='project-info'>
                <h3>Sporting Goods Catalog App</h3>
                <div class='project-links'>
                  <a href="{{ url_for('playGame') }}">Play Game</a>
                  <a href="https://github.com/chrisgig23/TicTacToe" target="_blank">View Code</a>
                </div>
                <div class='project-descrip'>
                  <p>
                    The project's description will go here and will describe the different aspects of the project for somebody to read and understand what the project does thanks to the description.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </main>

      <footer>
        <h1>Follow along: </h1>
        <a href="https://github.com/chrisgig23/" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/christophergiglio2/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/ChrisGig" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/chris.giglio" target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
      </footer>

    </div> <!-- PAGE -->

    <script src="/static/js/navBar.js"></script>
  </body>
