{% block extends catalogBase.html %}

    <div class="page-info">
      <div class="page-links">
        <a href="{{ url_for('editItem', category_name=category.name, item_name=item.name) }}">Edit</a>
        |
        <a href="{{ url_for('deleteItem', category_name=category.name, item_name=item.name) }}">Delete</a>
      </div>

      <div class="item-info">
        <div class="item-header">
          <h2>{{ item.name }}</h2>
        </div>

        <div class="item-description">
          {{ item.description }}
        </div>
      </div>

      <div class="creator-info">
        <p>Created by: {{ creator.name }}</p>
        <img class="creator-img" src="{{ creator.picture }}" alt="creator image">
      </div>

      <div class="item-footer">
        <a href="{{ url_for('showCategory', category_name=category.name) }}">Back</a>
      </div>
    </div>
    <!-- If logged in display edit and delete -->
{% endblock %}
