{% block extends catalogBase.html %}

    <div class="new-page-info">
      <div class="page-header">
        <h2>New Category</h2>
      </div>

      <div class="item-form">
        <form action="{{ url_for('newCategory') }}" method='post'>

          <div class="form-header"><p>Title</p></div>
          <input type='text' size='30' name='title' placeholder='New Category Title'>

          <div class="form-buttons">
            <input type='submit' value='Create'>

            <a class="cancel" href="{{ url_for('showCatalog')}}">Cancel</a>
            <!-- Cancel link goes here  -->
          </div>
        </form>
      </div>
    </div>
{% endblock %}
